*.egg-info
*.out
*.h5
*.nc
*.zarr
*.config
*.pyc
*.cpython-311.pyc
*.Identifier
.idea/
.venv/
build
components/results/
components/tmp/
components/build
components/profiling
environments
components/visualize/res-before-13-10-2025
spack
.cache
.vscode
*.err
*.txt
site